[SddmGreeterTheme]
Name=Kyzenred
Author=oracleforms11g
Description=A full KDE theme based on gamer aesthetics and modern minimalism (sddm greeter)
License=CC-BY
Type=sddm-theme
Version=1.7
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=BoldJe1.work@gmail.com
Theme-Id=kyzenred
Theme-API=2.0
Website=https://github.com/MiiMii1205/kyzenred-sddm
